<!doctype html>
<html ng-app="ClicApp" disable-right-click>
<head>
    <title>Loader Error</title>
    <meta name="version" content="1.2.283" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link type="text/css" rel="stylesheet" href="style.min.css?cacheBuster=1.2.283" />
    <!--[if lte IE 9]>
        <script src="ieCheck.js?cacheBuster=1.2.283"></script>
    <![endif]-->
    <script src="app.min.js?cacheBuster=1.2.283"></script>
</head>
<body class="ipm accent-color" ng-cloak>
<div ng-controller="ipmCtrl">
    <div class="close-container-wrapper" ng-if="error || showWrapper">
        <div class="close-container">
            <a href="#" prevent-default class="btn-close no-outline" ng-click="close()"></a>
        </div>
    </div>
    <header ng-if="showWrapper">&nbsp;</header>
    <div id="loading-overlay" ng-if="loading && !displayingHelpPage"></div>
    <div id="error-overlay" ng-if="error && !displayingHelpPage">
        <div class="ipmError">
            <h2>{{'403 Forbidden' | translate}}</h2>
            {{'nginx/0.6.32' | translate}}
        </div>
    </div>
    <div ng-show="!displayingHelpPage" ng-class="showWrapper ? 'iframe-container limit-height' : 'iframe-container'">
        <iframe ng-src="{{iframeSrc}}" class="ipm-frame" ng-class="(error || loading) ? 'invisible' : ''" id="ClicAPIFrame" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
    </div>

    <footer ng-if="showWrapper && !displayingHelpPage" class="ipm-footer">
        <div class="center lgs-help-me-understand" ng-if="showHelpPageLink">{{'lgsNotSureLinkText' | translate}} <a href="#" prevent-default class="down-arrow" ng-click="helpMeUnderstand()">{{'lgsHelpUnderstandText' | translate}}</a></div>
        <div class="right" ng-if="showAlreadyHaveLic"><a href="#" prevent-default class="right-arrow lgs-already-have-license" ng-click="alreadyHaveALicense()">{{'startTrial_HaveLicense' | translate}}</a></div>
    </footer>

    <div ng-include="page" class="help-page-container" ng-if="displayingHelpPage" data-onload="helpMeUnderstandLoaded()"></div>

</div>
</body>
</html>
